body {
	font-family: Arial, sans-serif;
        background-color: #f0f0f0;
		text-align: center;
	}

h1 {
	color: #333;
       font-size: 24px;
        line-height: 1.5;
		text-align: center;
	}

h2 {
	 font-family: Arial, sans-serif;
		font-size: 16px;
		text-align: center;
	}

h3 {
	color: #333;
        font-size: 10px;
        line-height: 1.5;
		text-align: center;
	}

img { 
	text-align: center;
	}

p { 
	font-size: 16px;
        line-height: 1.5;
		text-align: center;
	}

footer {
	color: #333;
        font-size: 16px;
        line-height: 1.5;
		text-align: center;
	}

.horizontal-line {
        border-bottom: 2px solid black; /* Creates a 2px solid black line at the bottom */
        width: 100%; /* Makes the line span the full width */
        margin: 15px 0; /* Adds some spacing above and below */
    }

    .vertical-line {
        border-left: 1px solid gray; /* Creates a 1px solid gray line on the left */
        height: 100px; /* Sets the height of the vertical line */
        display: inline-block; /* Allows side-by-side placement if needed */
        margin-left: 10px;
    }










