body {
	font-family: Arial, sans-serif;
        background-color: #f0f0f0;
		text-align: center;
	}

h1 {
	color: #333;
       font-size: 24px;
        line-height: 1.5;
		text-align: left;
	}

h2 {
	 font-family: Arial, sans-serif;
		font-size: 18px;
		text-align: left;
	}

h3 {
	color: #333;
        font-size: 16px;
        line-height: 1.5;
		text-align: center;
	}

img { 
	text-align: center;
	}

p { 
	font-size: 16px;
        line-height: 1.5;
		text-align: center;
	}

header {
	color: #333;
        font-size: 10px;
        line-height: 1.5;
		text-align: center;
	    font-family: Arial, sans-serif;
	}

footer {
	color: #333;
        font-size: 10px;
        line-height: 1.5;
		text-align: center;
	    font-family: Arial, sans-serif;
	}

.horizontal-line {
        border-bottom: 2px solid black; 
        width: 40%; 
		margin: 0 auto;
    }

    .vertical-line {
        border-left: 1px solid gray;
        height: 100px; 
        display: inline-block; 
        margin-left: 10px;
    }


.top-nav {
  background-color: #732b7d; 
  padding: 15px 30px;
  display: center;
  justify-content: flex-end;
}

.nav-links {
  display: center;
  gap: 100px;
}

.nav-btn {
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: Arial, sans-serif;
  transition: opacity 0.2s;
}

.nav-btn:hover {
  opacity: 0.6;
}

.padded-heading {
  padding-left: 25px;
}

.p-pad {
	paddding-left: 30px;
}







